/* classes */
:root {
    /* --background: #BFD8B8; */
    --main: #f2eadd;
    --cards: #e86850;
    --button: #e86850;
    /* --border: #e18d75; */
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Tommy";
    src: url("../fonts/Tommy-Medium.otf");
}

body {

    /* background-color: var(--background); */
    background-image: url("../Baummuster-01.png");
    width: 800px;
    margin: auto;
    margin-top: 20px;
    display: block;
    align-items: center;
    text-align: center;
    font-family: 'Roboto';

}

h1 {
    text-align: center;
    font-family: 'Tommy';
    /* font-size: 30px; */
    color: #323232;
}


table {

    display: flex;
    justify-content: center;

}

#box {

    background-color: var(--main);
    /* padding: 10px; */
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    /* border-radius: 15px; */
    border-width: 5px;
    /* border-style: double; */
    /* border-color: var(--border); */
    font-family: 'Roboto';
    box-shadow:0 4px 8px #00000053;
}

td {

    margin: 8px 200px 8px 200px;
    padding: 10px;
    /* border: 1px solid white; */

}

.middle {

    width: 280px;

}


.picked {

    scale: 1.1;

}

.done {

    opacity: 0.5;

}

img {
    /* border-radius: 12px; */
    box-shadow:0 4px 8px #00000053;

}

button {
    background-color: var(--button);
    border: none;
    color: white;
    padding: 12px 32px;
    /* border-radius: 20px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    /* margin-top: 170px; */
    font-family: 'Roboto';
    box-shadow:0 4px 8px #00000022;
    /* position: relative; */
    justify-content: center;
}